$blue: rgb(39, 39, 196);
$pink: rgb(185, 13, 99);

// alerts in _home.scss

$alert-green: rgb(49, 204, 93);
$alert-red: rgb(243, 64, 64);

// _healthcard.scss
$light-bg: #fdfdfe;
$text-color: #2c2c2c;
$border-color: #ddd;
$shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
$radius: 10px;
$transition: all 0.3s ease;

// login & register
$blue-bg-gradient: linear-gradient(
    22deg,
    rgb(118, 133, 196) 27%,
    rgba(190, 213, 255, 1) 58%,
    rgba(213, 219, 255, 1) 100%
);

$pink-bg-gradient: linear-gradient(
    120deg,
    rgba(240, 190, 220, 1) 0%,
    rgba(230, 160, 210, 1) 40%,
    rgba(220, 135, 195, 1) 70%,
    rgba(210, 115, 185, 1) 100%
);
