$blue: rgb(39, 39, 196);
$pink: rgb(185, 13, 99);



// _healthcard.scss

$light-bg: #fdfdfe;
$text-color: #2c2c2c;
$border-color: #ddd;
$shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
$radius: 10px;
$transition: all 0.3s ease;